* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DM Sans;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

/*-----------------------------------------HEADER------------------------------------------*/

main {
    background-color: #EDEDED;
}

.inner_home {
    background-image: url(./images/Mask.png);
    background-repeat: no-repeat;
    background-position: top center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    padding: 40px; 
}

.header_logo {
    cursor: pointer;
}

.nav_list {
    display: flex;
}

.nav_list > li {
    margin-left: 32px;
    line-height: 16px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s all ease;
}

.nav_list > li:hover {
    color: silver;
}

.btn_get_started {
    padding: 20px 50px;
    border-radius: 60px;
    border: none;
    color: #57B3FE;
    text-transform: uppercase;
    transition: .5s all ease;
    border: 3px solid transparent;
}

.btn_get_started:hover {
    border: 3px solid #fff;
    color: #fff;
    background: transparent;
    box-sizing: border-box;
}

.burger {
    display: none;
}

/*-------------------------------MENU TEXT-------------------------------*/

.menu_text {
    margin-top: 104px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    text-align: center;
}

.menu_text > p:first-child {
    font-weight: 500;
    font-size: 4em;
}

.menu_text > p:nth-child(2) {
    margin-top: 20px;
}

.menu_text > button {
    margin-top: 40px;
}

/*--------------------------------DASHBOARD IMG-----------------------------*/

.dashboard_img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/*---------------------------------------FEATURES PAGE---------------------------------------*/

.features_page {
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 184px 0px;
}

.inner_features_page_bgc_img_triangle {
    background: url(./images/shape1.png);
    background-repeat: no-repeat;
    background-position: left center;
    width: 100%;
}

.inner_features_page_bgc_img_circle {
    background: url(./images/shape2.png);
    background-repeat: no-repeat;
    background-position: right top;
    width: 100%;
} 

.features {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 175px;
}

.features_text {
    color: #00A077;
    font-size: .75em;
    text-transform: uppercase;
}

.features_text_help {
    font-size: 3em;
    color: #E8F4FF;
    margin-top: 24px;
    color: #000;
}

.features_boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.features_box {
    background-color: #fff;
    padding: 50px 40px;
    border-radius: 15px;
    margin: 25px 15px;
    width: 30%;
    cursor: pointer;
    transition: 0.3s all ease;
}

.features_box:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.features_box_inner {
    margin: 20px;
}

.features_box_text_wrapper > p:nth-of-type(1) {
    margin-top: 15px;
    font-weight: 700;
    line-height: 30px;
    font-size: 1.3em;
}

.features_box_text_wrapper > p:nth-of-type(2) {
    margin-top: 15px;
}

/*-------------------------------PROCESS PAGE-------------------------------*/

.process_page {
    background: linear-gradient(249.78deg, #35D3FF -0.64%, #A963FB 103.6%);
    display: flex;
    flex-direction: column;
    position: relative;
}

.tp_process_text_wrapper {
    z-index: 100;
}

.img_top_left {
    position: absolute;
    top: 0;
    left: 0;
}

.img_top_right {
    position: absolute;
    top: 0;
    right: 0;
}

.img_bottom_right {
    position: absolute;
    bottom: 10%;
    right: 0;
}

.img_bottom_center {
    position: absolute;
    bottom: 0;
    right: 30%;
}

.img_bottom_left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.img_center {
    position: absolute;
    top: 30%;
    left: 30%;
}

.tp_process {
    padding: 195px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: #fff;
}

.tp_process_text_wrapper {
    text-align: center;
}

.tp_process_text_wrapper > p:first-child {
    font-weight: 700;
    font-size: 0.66em;
    line-height: 15px;
    z-index: 100;
}

.tp_process_text_wrapper > p:nth-child(2) {
    font-weight: 500;
    font-size: 3em;
    line-height: 59px;
    margin-top: 14px;
    z-index: 1;
}

.tp_process_text_wrapper > p:nth-child(3) {
    font-size: 1.2em;
    line-height: 34px;
    margin-top: 24px;
    z-index: 3;
}

.process_blocks {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 75px;
    width: 100%;
}

.process_block {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    padding: 30px;
    background-color: #fff;
    z-index: 100;
    border-radius: 15px;
    flex-wrap: wrap;
    transition: 0.3s all ease;
    cursor: pointer;
}

.process_block:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.process_block:nth-child(n+1){
    margin-top: 40px;
}

.process_img_third {
    position: relative;
}

/*--------------------------------------PROCESS RIGHT SIDE--------------------------------------*/

.process_right_side {
    padding: 80px 60px;
}

.process_right_side_business_icon {
    padding: 13px;
    background-color: #DAE6FF;
    border-radius: 15px;
}

.process_right_side_tracking_icon {
    padding: 13px;
    background-color: #E9E5FF;
    border-radius: 15px;
}

.process_right_side_document_icon {
    padding: 13px;
    background-color: #CEEDFF;
    border-radius: 15px;
}

.process_right_side_business {
    margin-top: 20px;
    line-height: 30px;
    font-size: 1.3em;
    color: #3B3E43;
    font-weight: 700;
}

.process_right_side_text {
    margin-top: 15px;
    color: #000;
}

/*---------------------------------BRANDS PAGE---------------------------------*/

.brands_page {
    display: flex;
}

.brands {
    padding: 195px;
    margin: 0 auto;
}

.brands_header {
    text-align: center;
}

.brands_header > p:first-child{
    color: #00A077;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.7em;
    line-height: 15px;
}

.brands_header > p:last-of-type {
    font-size: 3em;
    margin-top: 24px;
}

.brands_logos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
}

.brand_logo {
    width: 17%;
}

.brands_footer {
    text-align: center;
}

.brands_footer > p {
    line-height: 24px;
}

/* -------------------------START PAGE----------------------------*/

.start_page {
    display: flex;
    background: linear-gradient(249.78deg, #35D3FF -0.64%, #A963FB 103.6%);;
}

.start {
    padding: 220px; 
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.start_left_side > p:first-child{
    font-size: 0.7em;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
}

.start_left_side > p:nth-child(2){
    margin-top: 24px;
    font-size: 3em;
    line-height: 59px;
    color: #fff;
}

.start_left_side > p:nth-child(3){
    margin-top: 24px;
    font-size: 1.3em;
    line-height: 34px;
    color: #fff;
}

.start_left_side button {
    margin-top: 30px;
}

.start_right_side {
    margin-left: 130px;
}

/*------------------------------------FOOTER------------------------------------*/

footer {
    display: flex;
    background-color: #000;
}

.footer_inner {
    margin: 80px auto;
    display: flex;
    flex-direction: column;
}

.footer_top_side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo {
    width: 175px;
    height: 40px;
}

.footer_nav_list {
    color: #fff;
    display: flex;
    margin: 0 85px;
}

.footer_nav_list > li {
    cursor: pointer;
    transition: 0.3s all ease;
}

.footer_nav_list > li:hover {
    color: gray;
}

.footer_nav_list > li:not(:first-child) {
    margin-left: 30px;
}

.footer_logo {
    cursor: pointer;
}

.soc_networks {
    display: flex;
    align-items: center;
}

.soc_networks {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.soc_networks > a:not(:first-child){
    margin-left: 20px;
}

.footer_line {
    border-bottom: 3px solid silver;
    width: 100%;
    height: 3px;
}

hr {
    width: 100%;
    margin: 40px 0;
}

.footer_bottom_side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.footer_privacy > p,
.privacy > p {
    cursor: pointer;
}

.footer_privacy {
    display: flex;
}

.footer_privacy > p, .privacy > p {
    transition: .3s all ease;
}

.footer_privacy > p:hover {
    color: gray;
}

.footer_privacy > p:first-child {
    margin-right: 25px;
}

.privacy > p:hover {
    color: gray;
}

.privacy {
    display: none;
}

/*----------------------------------MEDIA QUERIES------------------------*/

@media screen and (max-width: 1400px) {

    .burger {
        display: block;
        font-size: 2em;
        color: #fff;
    }

    .features {
        padding: 150px;
    }

    .nav_list {
        display: none;
    }

    .first_btn {
        display: none;
    }

    .features_box {
        padding: 40px 30px;
        width: 44%;
        font-size: 0.9em;
    }

    .dashboard_img > img{
        width: 80%;
    }

    .start {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    
    .start_left_side {
        margin-top: 100px;
    }

    .start_right_side {
        margin: 80px 0;
    }

    .start {
        padding: 20px;
    }

    .footer_nav_list {
        font-size: 0.8em;
    }

    .brand_logo {
        width: 28%;
        margin-left: 40px;
    }

    .brands_logos > .brand_logo:last-child {
        margin-top: 40px;
    }
    
    .brands_footer {
        margin-top: 50px;
    }

}
  

@media screen and (max-width: 1200px) {
    .brand_logo {
        width: 40%;
    }
    .brands_logos > .brand_logo:last-child {
        margin-top: 0;
    }
}

@media screen and (max-width:900px) {
    
    .menu_text > p:first-child{ 
        font-size: 2.5em;
    }

    .features {
        padding: 100px;
    }
    
    .features_box {
        width: 100%;
        font-size: 0.8em;
        padding: 30px 20px;
    }

    .img_top_left,
    .img_top_right,
    .img_bottom_right,
    .img_bottom_center,
    .img_bottom_left,
    .img_center {
        display: none;
    }
    
    .brands_header > p:last-child  {
        font-size: 2em;
    }

    .brands_footer > p {
        font-size: 0.7em;
    }

    .brands {
        padding: 95px;
    }

    .start_right_side > img {
        width: 80%;
    }

    .start_left_side > p:nth-child(2){
        font-size: 2em;
        line-height: normal;
    }

    .start_left_side > p:nth-child(3){
        font-size: 0.8em;
        line-height: normal;
    }

    .footer_nav_list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer_nav_list > li:not(:first-child) {
        margin-left: 0;
    }

    .footer_nav_list {
        margin: 25px;
    }

    .footer_bottom_side {
        flex-direction: column;
    }

    .process_img_third {
        width: 90%;
    }

    .brand_logo {
        width: 38%;
    }
    
}


@media screen and (max-width: 600px) {

    .menu_text > p:nth-child(2) {
        font-size: 0.8em;
    }

    .features {
        padding: 80px;
    }

    .features_box {
        padding: 20px 10px;
        width: 100%;
        font-size: 0.6em;
    }

    .features_box_text_wrapper > p:nth-of-type(1) {
        line-height: 10px;
    }
    
    .process_blocks {
        padding: 10px;
    }

    .process_block {
        padding: 0px;
        width: 90%;
    }
    
    .process_right_side_business {
        font-size: 1em;
    }

    .process_right_side_text {
        font-size: 0.7em;
    }

    .brands_header > p:last-child  {
        font-size: 1em;
    }

    .brands_footer > p {
        font-size: 0.5em;
        line-height: 1;
    }

    .footer_top_side {
        flex-direction: column;
        align-items: center;
    }

    .footer_privacy {
        display: none;
    }

    .privacy {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }

    .privacy > p:nth-child(2){
        margin-left: 25px;
    }

    .process_left_side {
        padding-top: 25px;
    }

    .brands_logos {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .brands {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brand_logo {
        width: 60%;
        margin-left: 0;
    }
    
} 

@media screen and (max-width: 400px){

    .process_left_side {
        padding-top: 0;
    }
    
    .process_img_third {
        display: none;
    }

    .header_logo {
        width: 200px;
    }
}